@charset "UTF-8";
@media screen and (min-width: 641px) {
  body {
    margin: 0;
    font-family: Avenir, "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Verdana", Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: black; }

  p {
    margin: 0; }

  ul {
    margin: 0;
    padding: 0; }

  li {
    list-style: none; }

  .hidden {
    display: none; }

  #header {
    position: fixed;
    z-index: 1;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    zoom: 1; }
    #header:before, #header:after {
      content: "";
      display: table; }
    #header:after {
      clear: both; }
    #header .logo {
      float: left;
      margin-left: 16px;
      margin-top: 10px; }
      #header .logo img {
        height: 60px; }
    #header .nav {
      float: right;
      padding-right: 16px;
      padding-top: 40px;
      zoom: 1; }
      #header .nav:before, #header .nav:after {
        content: "";
        display: table; }
      #header .nav:after {
        clear: both; }
      #header .nav > div {
        float: left;
        cursor: pointer;
        font-weight: bold;
        border-bottom: 2px solid white;
        margin-right: 8px; }

  #about .front {
    padding-top: 240px;
    padding-bottom: 160px;
    color: white; }
  #about .logo {
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 120px; }
  #about .copy {
    position: relative;
    font-weight: 600;
    text-align: center;
    font-size: 40px; }
  #about .background {
    position: absolute;
    top: 0;
    width: 100%; }
    #about .background .photo_frame {
      position: absolute;
      background-color: #4e4e4e;
      width: 100%; }
      #about .background .photo_frame .photo {
        position: absolute;
        background-size: cover;
        background-position: center;
        width: 100%; }
      #about .background .photo_frame .photo_cover {
        position: absolute;
        background-size: cover;
        background-position: center;
        width: 100%; }
    #about .background .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%; }

  #mind {
    padding-top: 80px;
    padding-bottom: 80px;
    color: white; }
    #mind .title {
      margin-bottom: 40px;
      text-align: center;
      font-size: 64px;
      font-weight: bold; }
    #mind .text {
      text-align: center;
      font-size: 20px; }
      #mind .text p {
        margin: 4px; }
      #mind .text p.strong {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px; }
      #mind .text p.space {
        height: 12px; }
    #mind .background {
      position: fixed;
      top: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url("../images/mind/background.jpg");
      background-size: cover;
      background-position: center; }
      #mind .background .background_cover {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25); }

  #approach {
    background-image: url("../images/approach/background.jpg");
    background-size: cover;
    position: relative; }
    #approach .title {
      position: relative;
      padding-top: 40px;
      margin-bottom: 80px;
      text-align: center;
      font-size: 64px;
      font-weight: bold; }
    #approach ul.items {
      position: relative;
      padding-bottom: 120px;
      text-align: center; }
      #approach ul.items li {
        display: inline-block;
        vertical-align: top;
        width: 300px; }
        #approach ul.items li .icon {
          margin-bottom: 28px; }
          #approach ul.items li .icon img {
            width: 120px;
            border-radius: 18px; }
        #approach ul.items li .title {
          font-size: 24px;
          margin-bottom: 4px; }
        #approach ul.items li .text {
          padding: 0 16px;
          text-align: center; }
    #approach .background {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      width: 100%;
      height: 100%; }

  #works {
    background-color: black;
    color: white; }
    #works .title {
      padding: 12px 0;
      text-align: center;
      font-size: 64px;
      font-weight: bold; }
    #works ul {
      zoom: 1; }
      #works ul:before, #works ul:after {
        content: "";
        display: table; }
      #works ul:after {
        clear: both; }
      #works ul li {
        float: left;
        width: 25%;
        height: 120px;
        overflow: hidden; }
        #works ul li .photo {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          cursor: pointer; }

  #works_pop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75); }
    #works_pop .background {
      position: absolute;
      width: 100%;
      height: 100%; }
    #works_pop .box {
      position: relative;
      height: 75%;
      width: 80%;
      margin: 10% 10%;
      background-color: white; }
    #works_pop .back_button {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 12px;
      right: 12px;
      background-image: url("../images/works/pop_back.png");
      background-size: cover; }
    #works_pop .contents {
      overflow: scroll;
      height: 100%;
      padding-top: 32px; }
    #works_pop .title {
      margin-bottom: 16px;
      font-size: 48px;
      text-align: center; }
    #works_pop .description {
      margin: 0 32px; }
      #works_pop .description .text {
        margin-bottom: 32px;
        text-align: center; }
      #works_pop .description .image {
        margin: 0 auto 32px;
        width: 400px; }
        #works_pop .description .image img {
          width: 400px; }
      #works_pop .description .movie {
        margin-bottom: 32px;
        text-align: center; }
        #works_pop .description .movie iframe {
          width: 400px;
          height: 225px; }

  #creators {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white; }
    #creators .title {
      padding: 12px 0;
      text-align: center;
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 48px; }
    #creators ul {
      width: 800px;
      margin: 0 auto;
      text-align: center;
      zoom: 1; }
      #creators ul:before, #creators ul:after {
        content: "";
        display: table; }
      #creators ul:after {
        clear: both; }
      #creators ul li {
        display: inline-block;
        margin-bottom: 40px;
        cursor: pointer; }
    #creators .photo {
      width: 180px;
      text-align: center;
      margin-bottom: 16px; }
      #creators .photo img {
        width: 140px;
        border-radius: 70px; }
    #creators .name {
      text-align: center;
      font-size: 24px; }

  #creators_pop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75); }
    #creators_pop .background {
      position: absolute;
      width: 100%;
      height: 100%; }
    #creators_pop .box {
      position: relative;
      height: 75%;
      width: 400px;
      margin: 10% auto;
      background-color: white; }
    #creators_pop .back_button {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 12px;
      right: 12px;
      background-image: url("../images/works/pop_back.png");
      background-size: cover; }
    #creators_pop .contents {
      overflow: scroll;
      height: 100%;
      padding-top: 48px; }
    #creators_pop .image {
      margin-bottom: 32px;
      text-align: center; }
      #creators_pop .image img {
        width: 180px;
        height: 180px;
        border-radius: 90px; }
    #creators_pop .name {
      font-size: 32px;
      text-align: center; }
    #creators_pop .title {
      margin-bottom: 16px;
      font-size: 16px;
      text-align: center; }
    #creators_pop .text {
      margin: 0 32px 32px; }
    #creators_pop .policy_title {
      font-size: 32px;
      text-align: center;
      margin-bottom: 16px; }
    #creators_pop .policy {
      margin: 0px 16px;
      font-size: 26px;
      text-align: center;
      padding-bottom: 32px; }

  #contact {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #bdc3c7;
    color: white; }
    #contact .title {
      padding: 12px 0;
      text-align: center;
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 16px; }
    #contact form > * {
      width: 80%;
      margin-left: 10%; }
    #contact form label {
      font-size: 20px; }

  #footer {
    background-color: black;
    color: white;
    padding-top: 28px;
    zoom: 1; }
    #footer:before, #footer:after {
      content: "";
      display: table; }
    #footer:after {
      clear: both; }
    #footer .copyright {
      text-align: center;
      padding-bottom: 32px; }
    #footer .working, #footer .idea, #footer .events {
      float: left;
      height: 300px;
      width: 200px;
      font-size: 20px; }
    #footer .working {
      margin-left: 48px; } }

/*# sourceMappingURL=style.css.map */
