// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width:641px)

  @mixin clearfix
    zoom: 1
    &:before, &:after
      content: ""
      display: table
    &:after
      clear: both

  body
    margin: 0
    font-family: Avenir , "Open Sans" , "Helvetica Neue" , "Helvetica" , "Arial" , "Verdana" , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ","Meiryo" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif
    -webkit-font-smoothing: antialiased
    background-color: black

  p
    margin: 0

  ul
    margin: 0
    padding: 0

  li
    list-style: none

  .hidden
    display: none

  #header
    position: fixed
    z-index: 1
    height: 80px
    width: 100%
    background-color: black
    color: white
    @include clearfix

    .logo
      float: left
      margin-left: 16px
      margin-top: 10px
      img
        height: 60px

    .nav
      float: right
      padding-right: 16px
      padding-top: 40px
      @include clearfix
      &>div
        float: left
        cursor: pointer
        font-weight: bold
        border-bottom: 2px solid white
        margin-right: 8px

  #about
    .front
      padding-top: 80px + 160px
      padding-bottom: 160px
      color: white

    .logo
      position: relative
      font-weight: bold
      text-align: center
      font-size: 120px

    .copy
      position: relative
      font-weight: 600
      text-align: center
      font-size: 40px

    .background
      position: absolute
      top: 0
      width: 100%
      .photo_frame
        position: absolute
        background-color: #4e4e4e
        width: 100%
        .photo
          position: absolute
          background-size: cover
          background-position: center
          width: 100%
        .photo_cover
          position: absolute
          background-size: cover
          background-position: center
          width: 100%
      .cover
        position: absolute
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.5)
        width: 100%


  #mind
    padding-top: 80px
    padding-bottom: 80px
    color: white
    .title
      margin-bottom: 40px
      text-align: center
      font-size: 64px
      font-weight: bold
    .text
      text-align: center
      font-size: 20px
      p
        margin: 4px
      p.strong
        font-size: 30px
        font-weight: bold
        margin-bottom: 30px
      p.space
        height: 12px
    .background
      position: fixed
      top: 0px
      z-index: -1
      width: 100%
      height: 100%
      background-image: url('../images/mind/background.jpg')
      background-size: cover
      background-position: center
      .background_cover
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.25)

  #approach
    background-image: url('../images/approach/background.jpg')
    background-size: cover
    position: relative
    .title
      position: relative
      padding-top: 40px
      margin-bottom: 80px
      text-align: center
      font-size: 64px
      font-weight: bold
    ul.items
      position: relative
      padding-bottom: 120px
      text-align: center
      li
        display: inline-block
        vertical-align: top
        width: 300px
        .icon
          margin-bottom: 28px
          img
            width: 120px
            border-radius: 18px
        .title
          font-size: 24px
          margin-bottom: 4px
        .text
          padding: 0 16px
          text-align: center
    .background
      background-color: rgba(255, 255, 255, 0.50)
      position: absolute
      width: 100%
      height: 100%

  #works
    background-color: black
    color: white
    .title
      padding: 12px 0
      text-align: center
      font-size: 64px
      font-weight: bold
    ul
      @include clearfix
      li
        float: left
        width: 25%
        height: 120px
        overflow: hidden
        .photo
          width: 100%
          height: 100%
          background-size: cover
          background-position: center
          cursor: pointer

  #works_pop
    position: fixed
    top: 0
    width: 100%
    height: 100%
    z-index: 2
    background-color: rgba(0, 0, 0, 0.75)
    .background
      position: absolute
      width: 100%
      height: 100%
    .box
      position: relative
      height: 75%
      width: 80%
      margin: 10% 10%
      background-color: white
    .back_button
      position: absolute
      width: 32px
      height: 32px
      top: 12px
      right: 12px
      background-image: url('../images/works/pop_back.png')
      background-size: cover
    .contents
      overflow: scroll
      height: 100%
      padding-top: 32px
    .title
      margin-bottom: 16px
      font-size: 48px
      text-align: center
    .description
      margin: 0 32px
      .text
        margin-bottom: 32px
        text-align: center
      .image
        margin: 0 auto 32px
        width: 400px
        img
          width: 400px
      .movie
        margin-bottom: 32px
        text-align: center
        iframe
          width: 400px
          height: 225px

  #creators
    padding-top: 40px
    padding-bottom: 40px
    background-color: white
    .title
      padding: 12px 0
      text-align: center
      font-size: 64px
      font-weight: bold
      margin-bottom: 48px
    ul
      width: 800px
      margin: 0 auto
      text-align: center
      @include clearfix
      li
        display: inline-block
        margin-bottom: 40px
        cursor: pointer
    .photo
      width: 180px
      text-align: center
      margin-bottom: 16px
      img
        width: 140px
        border-radius: 70px
    .name
      text-align: center
      font-size: 24px

  #creators_pop
    position: fixed
    top: 0
    width: 100%
    height: 100%
    z-index: 2
    background-color: rgba(0, 0, 0, 0.75)
    .background
      position: absolute
      width: 100%
      height: 100%
    .box
      position: relative
      height: 75%
      width: 400px
      margin: 10% auto
      background-color: white
    .back_button
      position: absolute
      width: 32px
      height: 32px
      top: 12px
      right: 12px
      background-image: url('../images/works/pop_back.png')
      background-size: cover
    .contents
      overflow: scroll
      height: 100%
      padding-top: 48px
    .image
      margin-bottom: 32px
      text-align: center
      img
        width: 180px
        height: 180px
        border-radius: 90px
    .name
      font-size: 32px
      text-align: center
    .title
      margin-bottom: 16px
      font-size: 16px
      text-align: center
    .text
      margin: 0 32px 32px
    .policy_title
      font-size: 32px
      text-align: center
      margin-bottom: 16px
    .policy
      margin: 0px 16px
      font-size: 26px
      text-align: center
      padding-bottom: 32px

  #contact
    padding-top: 40px
    padding-bottom: 80px
    background-color: #bdc3c7
    color: white
    .title
      padding: 12px 0
      text-align: center
      font-size: 64px
      font-weight: bold
      margin-bottom: 16px

    form
      &>*
        width: 80%
        margin-left: 10%
      label
        font-size: 20px

  #footer
    background-color: black
    color: white
    padding-top: 28px
    @include clearfix

    .copyright
      text-align: center
      padding-bottom: 32px

    .working, .idea, .events
      float: left
      height: 300px
      width: 200px
      font-size: 20px

    .working
      margin-left: 48px

