!!!
%html
  %head
    %title Re:coloR
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/style_smart.css", :rel => "stylesheet"}/
    %link{:href => "images/favicon.ico", :rel => "shortcut icon" }
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    #header
      .logo
        %img{ src: 'images/header/logo.png' }
      .nav
        .about
          what is Re:coloR
        .works
          works
        .creators
          creators
        .contact
          contact
      .sns
        .facebook
        .twitter
        .youtube

    #about
      .background
        .photo_frame
          .photo
          .photo_cover.hidden
        .cover
      .front
        .logo
          Re:coloR
        .copy
          世界を変える、妄創力

    #mind
      .title
        PHILOSOPHY
      .text
        %p もっとこうなったらいいのに、を真剣に考えて創る。
        %p.space
        %p はじめまして、私達は「クリエイティブパートナー」です。
        %p どんなご依頼でも真剣に、とことん打ち合わせし、納得頂けるものを創ります。
        %p.space
        %p もっとこうなったらいいのに、を真剣に、でもちょっと楽しく、考えて創る。
        %p Re:coloRは、妄創力で世界を変える、クリエイティブパートナーです。
      .background
        .background_cover

    #approach
      .background
      .title
        APPROACH
      %ul.items
        %li
          .icon
            %img{ src: 'images/approach/sense.jpg' }
          .title
            音楽(五感)
          .text
            五感を刺激するクリエイティブをご提案いたします。
            音楽のみならず、空間デザイン、グラフィックデザインなど、お任せ下さい。
        %li
          .icon
            %img{ src: 'images/approach/data.jpg' }
          .title
            分析
          .text
            成果の出るクリエイティブには、客観性や論理が欠かせません。
            課題を発見し、根拠とともにご提案いたします。ぜひお気軽にご相談下さい。

    #works
      .title
        WORKS
      %ul.items
        %li
          .photo
          .data.hidden
            .title
              BMW Driving Workshop
            .image
              %img{ src: 'images/works/BMW1.jpg' }
            .description
              .text
                %p BMW Driving Workshop 楽曲提供。
              .movie
                %iframe{width: 400, height: 225, src: "https://www.youtube.com/embed/fufyujbd9ak?rel=0&amp;controls=0&amp;showinfo=0", frameborder: 0, allowfullscreen: true }
              .movie
                %iframe{width: 400, height: 225, src: "https://www.youtube.com/embed/eNbM2_i1ZNM?rel=0&amp;controls=0&amp;showinfo=0", frameborder: 0, allowfullscreen: true }
              .movie
                %iframe{width: 400, height: 225, src: "https://www.youtube.com/embed/gMgVUuLf9d0?rel=0&amp;controls=0&amp;showinfo=0", frameborder: 0, allowfullscreen: true }

        %li
          .photo
          .data.hidden
            .title
              COMEDYS
            .image
              %img{ src: 'images/works/comedys.jpg' }
            .description
              .movie
                %iframe{width: 400, height: 225, src: "https://www.youtube.com/embed/7bxwCdGi1HU?rel=0&amp;controls=0&amp;showinfo=0", frameborder: 0, allowfullscreen: true }
              .text
                %p お笑いライブ「COMEDYS」
                %p 人間らしい「ゆらぎ」と「空気感」をテーマに楽曲製作。

        %li
          .photo
          .data.hidden
            .title
              Doug Lawrence
            .image
              %img{ src: 'images/works/doug.jpg' }
            .description
              .movie
                %iframe{width: 400, height: 225, src: "https://www.youtube.com/embed/xZWoiSIWE3o?rel=0&amp;controls=0&amp;showinfo=0", frameborder: 0, allowfullscreen: true }

        %li
          .photo
          .data.hidden
            .title
              WELCOME
            .image
              %img{ src: 'images/works/welcome_logo.jpg' }
            .description
              .image
                %img{ src: 'images/works/welcome_logo.jpg' }
              .text
                %p クラブ＝チャラい、を覆す「超初心者向けのクラブイベント」をプロデュース。
                %p 健全なコミュニケーションのための仕掛けを用意。
                %p
                  %a{ href: 'https://soundcloud.com/taichi-watanabe/tora-mix-set-vol-as-sofy-project-welcome-3rd-party-mix' }
                    https://soundcloud.com/taichi-watanabe/tora-mix-set-vol-as-sofy-project-welcome-3rd-party-mix

        %li
          .photo
          .data.hidden
            .title
              ウナギプラネット
            .image
              %img{ src: 'images/works/unagi.jpg' }
            .description
              .movie
                %iframe{width: 400, height: 225, src: "https://www.youtube.com/embed/XCKWbN8KKkA?rel=0&amp;controls=0&amp;showinfo=0", frameborder: 0, allowfullscreen: true }
              .text
                %p 日本大学生物資源科学部　企画展うなぎプラネット
                %p 絶滅の危機にあるウナギの生活史を6曲のサイクルで表現。

        %li
          .photo
          .data.hidden
            .title
              はたらける美術館
            .image
              %img{ src: 'images/works/hatarakeru_musium.png' }
            .description
              .image
                %img{ src: 'images/works/hatarakeru_musium.png' }
              .text
                %p 「はたらける美術館」メイキング映像のサウンドをプロデュース。
                %p 働く空間を革新する新しいしごと場は、クラウドファンディング募集開始30分で目標額を突破。
                %p
                  %a{ href: "https://youtu.be/iA1Geu04Ox8" }
                    https://youtu.be/iA1Geu04Ox8

        %li
          .photo
          .data.hidden
            .title
              サムライフ
            .image
              %img{ src: 'images/works/samulife_1.jpg' }
            .description
<<<<<<< HEAD
              .image
                %img{ src: 'images/works/samulife_1.jpg' }
              .text
                %p ストレスに疲れた現代人向けに、「和」なものを見つけまったりするライフスタイル「サムライフ」を提案。
                %p #samulife でSNS投稿をする活動を継続中。
                %p
                  %a{ href: "http://samulife.today/examples" }
                    http://samulife.today/examples
=======
            .image
              %img{ src: 'images/works/samulife_1.jpg' }
            .text
              %p ストレスに疲れた現代人向けに、「和」なものを見つけまったりするライフスタイル「サムライフ」を提案。
              %p #samulife でSNS投稿をする活動を継続中。
              %p
                %a{ href: "http://samulife.today/examples" }
                  http://samulife.today/examples
>>>>>>> b5d894c1fbdb1a687bd3e755be669499e4125e60

        %li
          .photo
          .data.hidden
            .title
              COMING SOON
            .image
              %img{ src: 'images/works/coming_soon_1.jpg' }
            .description

    #works_pop.hidden
      .background
      .box
        .back_button
        .contents
          .title
          .description

    #creators
      .title
        CREATORS
      %ul
        %li
          .photo
            %img{ src: "images/creators/suga_3.jpg" }
          .name
            須賀健斗
          .data.hidden
            .title
              Idea switch 妄想未来プランナー
            .text
              %p 94年生まれ。社会学、メディア論に精通。未来の妄想、クリエイティブ情報の収集が得意。
              %p 代理店で調査設計、インサイト分析、企画立案・提案などに従事。
              %p 某大手調味料メーカー等でアイディアワークショップの企画実施を担当。
            .policy
              アップデートし続けるか、死ぬか。
        %li
          .photo
            %img{ src: "images/creators/watanabe_3.jpg" }
          .name
            渡邉大智
          .data.hidden
            .title
              エンジニアDJ
            .text
              %p 91年生まれ、プラントエンジニア。
              %p 音楽の発展的な魅せ方を軸に活動を行う。
              %p 自身のユニットVanilla8Chocolateではエフェクティングを多用した実験的なDJ/リーリースを行う。
              %p 2016.3.12   青山EVER
              %p 2016.4.XX 渋谷VISION
            .policy
              既存のものを、解釈し、
              新たなものを、発信する。

        %li
          .photo
<<<<<<< HEAD
            %img{ src: "" }
          .name

          .data.hidden
            .title

            .text
              %p
              %p
              %p
              %p
            .policy

=======
            %img{ src: "images/creators/sofy_3.jpg" }
          .name
            SOFY
          .data.hidden
            .title
              コンサル作曲家
            .text
              %p 91年生まれ、東京大学農学部卒。
              %p 某大手人材派遣企業にて、新サービスを企画運営。
              %p BMW Driving Workshop 楽曲提供。
              %p 日本大学特別企画展、ウナギプラネット 楽曲提供。
            .policy
              「誰より苦しんだ人間が、感動を作れる。」
>>>>>>> b5d894c1fbdb1a687bd3e755be669499e4125e60

        %li
          .photo
            %img{ src: "images/creators/kimura_3.jpg" }
          .name
            キムラナオキ
          .data.hidden
            .title
              ミニマル映像クリエイター
            .text
              %p 94年生まれ。「静止画5枚で伝わる映像」をモットーに撮影編集する。
              %p Doug LawrenceのPV、MVを担当。
              %p 日本郵便株式会社 WebCMを製作。
            .policy
              「次は何を捨てよう。」

        %li
          .photo
            %img{ src: "images/creators/hakumai_3.jpg" }
          .name
            hakumai
          .data.hidden
            .title
              ゆるふわイラストレーター
            .text
              %p 93年生まれ
              %p 某大手企業で「かわいい」を発信するサイトのディレクターを務める。
              %p
                %a{ href: "http://samulife.today/examples" }
                  LINEスタンプ「くそねことエリンギ犬」制作。
            .policy
              「かわいいは正義。」
        %li
          .photo
            %img{ src: "images/creators/kizakihara_3.jpg" }
          .name
            ばるちゃん
          .data.hidden
            .title
              よろず美術家
            .text
              %p 88年生まれ。アートマネジメント学に精通。
              %p 京都市山形区「子供と文化フォーラム」運営。
              %p 大阪府河内長野「かわちながの世界民族音楽祭」運営。
              %p 自らの絵画で2人展「きらきら」を開催。
              %p ボールペン、クレヨン等を用いて実験的な作品を制作。
              %p ウェルカムボード、ポスター、壁画などの制作を得意とする。
            .policy
              「ネガティブでもポジティブでも無く、リアルに。」
        %li
          .photo
            %img{ src: "images/creators/miyano_3.jpg" }
          .name
<<<<<<< HEAD
            みやの恵太
=======
            宮野恵太
>>>>>>> b5d894c1fbdb1a687bd3e755be669499e4125e60
          .data.hidden
            .title
              画像認識ギタリスト
            .text
              %p 91年生まれ。東大工学部休学中（画像認識センサーの研究中）。ギター歴11年。
              %p 世界初のギター×DJパフォーマンス「シンタイザー」を提案。
              %p ダンスとバンドを融合させた舞台をプロデュース。
              %p お笑いライブCOMEDYS 楽曲提供。
            .policy
              「デジタルを身体にインストールする。」
        %li
          .photo
            %img{ src: "images/creators/iida_3.jpg" }
          .name
            エイミー
          .data.hidden
            .title
              職人デザイナー
            .text
              %p 中学時代は人気ブロガーとして活躍。
<<<<<<< HEAD
              %p 「建築かもしれない展」企画実行メンバー。
              %p 職人との共同作品を多く制作。
              %p Smart Illumination Yokohomaにて作品展示。
              %p 学部卒業設計、修士論文で優秀賞受賞。
=======
              %p 「建築かもしれない展」主催メンバー。
              %p Smart Illumination Yokohoma入賞。
              %p 卒業設計優秀作品賞受賞。
              %p 雑誌「新建築」記事執筆。
              %p 左官職人のデザイン研究で優秀論文賞受賞。
>>>>>>> b5d894c1fbdb1a687bd3e755be669499e4125e60
            .policy
              「誰にでも、１番光る場所がある。」

        %li
          .photo
            %img{ src: "images/creators/shimura_3.jpg" }
          .name
            志村顕
          .data.hidden
            .title
              選曲ボーカリスト
            .text
              %p 92年生まれ。70年代の歌謡曲、ディスコミュージック、最新の洋楽POPS等幅広く精通。
              %p 渋谷TSUTAYA 、バー、ビアガーデン等のBGM選曲を担当。
              %p 都内ライブハウスにて、ピアノ弾き語りの活動中。
            .policy
              「俺的ケセラセラ24年目。」

    #creators_pop.hidden
      .background
      .box
        .back_button
        .contents
          .image
            %img
          .name
          .title
          .text
          .policy_title POLICY
          .policy

    #contact
      .title
        CONTACT
      %form{ action: "contact/postmail.cgi", method: :post }
        / %input{ type: :hidden, name: :need, value: 'name email' }
        .form-group
          %label name
          %input.form-control{ name: :name }
        .form-group
          %label email
          %input.form-control{ name: :email }
        .form-group
          %label message
          %textarea.form-control{ name: :message, rows: 4 }
        %input.btn.btn-primary{ type: :submit, value: '送信' }

    #footer
      .copyright
        Copyright © Re:coloR. All Rights Reserved.
      / .working
      /   Working
      / .idea
      /   Idea
      / .events
      /   Events

    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "js/jquery-2.1.0.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/main.js"}
